---
layout: default
title: Success Stories
meta: treasury investment portfolio market risk asset Treasury Management System TMS provider corporate treasury solution cash management 
---



{% include success-story.html %}




<section class="success-wrap flex flex--center">
 	
		<div class="side-bar-wrap flex">
			<div class="corporate-active">
				<div class="col-4">
					<nav class="side-nav">
						<h4>Success Stories</h4>
						<ul class="success-ul">
							<li class="success-li-bank">
								<a class="success-bank" href="{{site.baseurl}}/in-bank/">In Bank Treasury</a>
							</li>
							<li class="success-li-corporate">
								<a class="success-a" href="{{site.baseurl}}/in-corporate/">In Corporate Treasury</a>
							</li>
							<li class="success-li-investment">
								<a class="success-a" href="{{site.baseurl}}/in-investment/">In Investment Management</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

		</div>
		<div>
			{% include success-in-corporate.html %}
		</div>

</section>
