<div class="modal-bg">
	<div class="modal-box">
		<div class="close">
			<i class="ion-android-close"></i>
		</div>
		<div class="email">
			<a href="mailto:contact@viabletechnologies.in"><div class="email-btn"><i class="ion-email"></i></div></a>
			<a href="mailto:contact@viabletechnologies.in"><div class="lead">contact@viabletechnologies.in</div></a>
		</div>
		<div class="line"></div>
		<div class="location">
			<div class="address">
				<div><i class="ion-location"></i>Software Development Office</div>
				<p>No.7B, Himachal Nagar Annexe, Himachal Nagar, Madhanandapuram, Chennai, Tamil Nadu 600125, India</p>
				<!-- <div class="phone"><i class="ion-ios-telephone"></i>+601 2404 8233</div> -->
			</div>
			<br>
			<!-- <div class="address">
				<div><i class="ion-location"></i>Operation Office</div>
				<p>Unit 23-5, 5thfloor, Block E1, Jalan PJU 1/42, Dataran Prima, 47301 Petaling Jaya, Selangor, Malaysia</p>
				<div class="phone"><i class="ion-ios-telephone"></i>+603 7880 9562</div>
			</div> -->
		</div>
		<div class="line"></div>
		<div class="map">
			<a href="https://www.google.co.uk/maps/place/Viable+Technologies/@13.0226025,80.1488847,17z/data=!4m8!1m2!2m1!1s+No.7B,+Himachal+Nagar+Annexe,+Madanandhapuram,+Santhosh+Nagar,+Himachal+Nagar,+Ramji+Nagar,+Santhosh+Nagar,+Himachal+Nagar,+Ramji+Nagar,+Madhanandapuram,+Chennai,+Tamil+Nadu+600125,+India!3m4!1s0x3a5260fa58f9489f:0x23cee2c276b9a85f!8m2!3d13.0225975!4d80.1510817" target="_blank">View on Google Maps</a>
		</div>

	</div>

</div>
