<footer>
	<section class="get-in-touch">
		<div class="flex flex--center col-2">
			<h5 class="git">Get In Touch<div class="tiny-line"></div></h5>
			<p class="footer-p">We would love to hear from you and answer any questions you might have. Send us email, or find our location on the map.</p>
			<div class="footer-icons">
				<a href="mailto:contact@viabletechnologies.in"><div class="footer-btn">
					<div class="footer-email"><i class="ion-email"></i></div>
				</a>
					</div>
				<!-- <a href="mailto:solutions@triaset.com?Subject=Request%20for%20a%20Demo"><div class="footer-btn">
						<div class="footer-demo"><img src="{{ site.baseurl }}/assets/images/Demo.png"></div>
					</div>
				</a> -->
				<a href="https://www.google.co.uk/maps/place/Viable+Technologies/@13.0226025,80.1488847,17z/data=!4m8!1m2!2m1!1s+No.7B,+Himachal+Nagar+Annexe,+Madanandhapuram,+Santhosh+Nagar,+Himachal+Nagar,+Ramji+Nagar,+Santhosh+Nagar,+Himachal+Nagar,+Ramji+Nagar,+Madhanandapuram,+Chennai,+Tamil+Nadu+600125,+India!3m4!1s0x3a5260fa58f9489f:0x23cee2c276b9a85f!8m2!3d13.0225975!4d80.1510817" target="_blank">
				<div class="footer-btn">
						<div class="footer-map"><i class="ion-location"></i></div>
					</div>
				</a>


			</div>
		</div>
	</section>



	<div class="copyright">
		<p id="copyright">© 2018 VIABLE TECHNOLOGIES | ALL RIGHTS RESERVED</p>
	</div>

</footer>
