

<div class="job-modal-bg-8">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Project Manager – Project Implementation</h1>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<li>Oversee and manage projects to ensure delivery is on – time, within scope of work, budget and optimizing resource utilization. </li>
				<li>Assist in the analysis and mapping of client business requirements to application solutions.</li>
				<li>Oversee design and solutions to meet the needs of business requirements.</li>
				<li>Work with various levels of business and systems personnel to identify business needs and proved technical consultancy and solutions.</li>
				<li>Develop and deliver progress reports, proposals, requirements documentation and presentations.</li>
				<li>Manage stakeholders and influence stakeholders’ decision.</li>
				<li>Perform project QA reviews and proposed recommendations.</li>
				<li>Perform project assessments and drive closure of issues.</li>
				<li>Appraises and review the project team in terms of job contribution, rewards/compensation recommendation.</li>
				<li>Plan, Lead, Organise and Control the project and team.</li>
			</ul>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Candidate must possess at least a Bachelor’s Degree, Professional Degree or Master’s Degree in Computer Science/Information Technology, Engineering, Finance, Banking, Mathematics, Financial Engineering, Commerce or its equivalents.</li>
				<li>Ideally should have at least 4-6 years of complete software development life cycle experience and project management.</li>
				<li>Project management certification ie PMP or Prince 2 will be an added advantage.</li>
				<li>Experience in Treasury/Investment environment is desirable but not necessary.</li>
				<li>Required language(s): English, Bahasa Malaysia.</li>
				<li>Good communication skills and interpersonal skills at all levels.</li>
				<li>Able to work independently with minimum supervision & under pressure.</li>
				<li>Applicants must be willing to travel overseas.</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
