

	<div class="job-modal-bg-6">
		<div class="job-modal-box">
			<div class="job-close">
				<i class="ion-android-close"></i>
			</div>
			
			<!-- Job discription goes here -->

			<div class="job-content col-2">
				<h1>Application Support Consultants</h1>
				<hr>
				<h2>Education / Experience</h2>
				<ul class="lists">
					<li>Act as a first point of contact to our clients.</li>
					<li>Involve in 1st and 2nd level of support on software application, databases and infrastructure issues.</li>
				</ul>
				<hr>
				<h2>Summary of Position</h2>
				<ul>
					<li>Candidate must possess at least a Bachelor’s Degree in Computer Science/Information Technology, Finance, Banking, Commerce or its equivalents.</li>
					<li>At least 1 – 2 year of Application support or software development experiences.</li>
					<li>Experience in Treasury/Investment/Insurance industry is an added advantage though not necessary.</li>
				</ul>
				<hr>
				<h2>Roles and Responsibilities</h2>
				<ul>
					<li>Provide internal or external training of solutions provided to clients.</li>
					<li>Collaborate with development team to ensure the stability of software application and reports before delivering to our clients.</li>
					<li>Involve in software application and reports troubleshooting and rectification of errors.</li>
					<li>Involve in quality assurance of the solutions prior delivering to our clients.</li>
					<li>Recommend solutions to clients on how to use application on issues reported.</li>
					<li>Assist in enhancing the software application in meeting market requirements.</li>
					<li>Required skill(s) : Microsoft .NET, VB, Microsoft SQL Server.</li>
					<li>Knowledge in one of these reporting tools (Microsoft Reporting Services, Oracle Interactive Reporting or Crystal Report) is an advantage.</li>
					<li>Ability to multi-task and prioritize tasks.</li>
					<li>Ability to identify problems and issues encountered and highlight to manager.</li>
					<li>Good Communication skills and interpersonal skill at all levels.</li>
					<li>Able to work independently with minimum supervision & under pressure.</li>
					<li>Willing to travel overseas.</li>
				</ul>
				<br>
				<hr>
				<div class="resume">
				<a href="mailto:solutions@triaset.com?Subject=Job%20Application">Send us your resume</a>
				</div>
					
			</div>
		

		<!-- end of Job discription -->	

		
		</div>
	</div>

